---
# tasks file for roles/app
  - name: Create a simple-api container
    docker_container:
      name: backend
      image: roxaen/tp-devops-epf:simple-api
      networks:
        - name: "app-network"